<!doctype html>
<html>
  <head> 
    <meta charset=utf-8>
    <meta name=description>
    <meta name=viewport content="width=device-width, initial-scale=1, minimal-ui">
    <title>plantingjs - {{name}}</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plantingjs/styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for('static', filename='plantingjs/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    {% include "navigation.html" %}
    {% block body %}{% endblock %}
  </body>
</html> 
