<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>plantingjs - {{name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    {% include "navigation.html" %}
    {% block body %}{% endblock %}
  </body>
</html> 
