<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=description>
    <meta name=viewport content="width=device-width, initial-scale=1, minimal-ui">
    <title>plantingjs</title>
    <link rel=stylesheet href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <body>
    <script type=text/javascript src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fmhpMCKGM6BCMtsnn05GfxEK77jRHjc"></script>
    <div id=viewport class=viewport> </div>
    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/planting.js') }}"></script>
    <script>
      var plantingJSInstance;
      $(document).ready(
        function () {
          plantingJSInstance = new PlantingJS({});
          plantingJSInstance.initViewer($("#viewport"), "/get_planting/{{ planted_id }}");
        }
      );
    </script>
  </body>
</html>
