<html>
  <head></head>
  <body>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
      var forview = {
        "manifesto": "/manifesto.json",
        "lat": 52.403526,
        "lng": 16.911023999999998,
        "heading": -74.81401617250674,
        "pitch": 2.474393530997305,
        "zoom": 1,
        "objects": [
          {
            "object": 0,
            "projection": 0,
            "width": 0.08086253369272237,
            "position": {
              "x": 0.20053908355795147,
              "y": 0.022371967654986523
            },
            "layer": 1
          },
          {
            "object": 0,
            "projection": 4,
            "width": 0.08086253369272237,
            "position": {
              "x": 0.6204851752021563,
              "y": 0.03153638814016173
            },
            "layer": 2
          }
        ]
      }

      function save_callback(planting) {
        $.ajax({
          type: 'POST',
          url: '/save',
          data: JSON.stringify(planting),
          contentType: 'application/json;charset=UTF-8',
          dataType: 'html',
          success: function(responseData, textStatus, jqXHR) {
              $(location).attr('href', JSON.parse(responseData)['url']);
          },
        });
      }

      save_callback(forview);
    </script>
  </body>
</html>
