<section id="about" class="section">
  <div class="container">
    <h1>Index</h1>
    <div class="desciption">
      <p>
        PlantinjJS is an engine written in JavaScript that support process of
        planting You neighbourhood directly in Your browser.
      </p>
      <p>It's open source and available on GitHub.</p>
    </div>
    <a href="https://github.com/komitywa/plantingjs">
      <div class="github-button" style="background:#0000FF">View on GitHub</div>
    </a>
    <a href="http://wysadzulice.pl">
      <div class="wysadz-button" style="background:#00FF00">
        Plant on Wysadź Ulice Yourself
      </div>
    </a>
  </div>
</section>
